@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome User! Click on the link to learn about your ASP.Net.</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2 class="display-4">Click on the link to login on your Github</h2>
    <p>Learn about <a href="https://github.com/">Github login page.</a>.</p>
</div>
